# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Environment
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node
node_modules/
dist/
build/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Others
*.csv
*.xlsx
*.json
