# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Node.js
node_modules/
build/
dist/
npm-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
