fastapi==0.116.1
uvicorn==0.35.0
starlette==0.47.3
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
joblib==1.5.2
category_encoders==2.8.1
matplotlib==3.10.6
scipy==1.16.1
statsmodels==0.14.5
patsy==1.0.1
pydantic==2.11.7
python-dateutil
pillow
pytz
typing_extensions==4.15.0
